:root {
    --primary-color: #0099ff;
}

.wrapper {
    font: 16px Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-gap: 0.7em;
    max-width: 900px;
    justify-content: center;
    /*grid-auto-columns: minmax(auto, auto);*/
    /*grid-auto-rows: minmax(auto, auto);*/

    align-content: center;
    margin: 100px 70px;
}

h1 {
    color: var(--primary-color);
}

.box {
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box.horisont {
    grid-column: 1/4;
}

.box.horisont h1 {
    height: 20px;
}

.box.horisont p {
    height: 12px;
    font-size: 16px;
}

.box.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box select {
    width: 70%;
    height: 40px;
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 7px top 40%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
    text-align-last: center;
}


.box input {
    width: 70%;
    height: 40px;
    border: 1px solid #dedede;
    background: transparent;
    font-size: 16px;
    text-align: center;
}

.money-img {
    width: 150px;
}

.box.rate {
    color: var(--primary-color);
    font-size: 15px;
    padding: 0 10px;
}

.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 4px 10px;
    margin: 0px;
    cursor: pointer;
    border: 1px solid #bbb;
    font: bold 16px "Noto Sans", sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #f8f8f8;
    background-color: #269CE9;
    border-color: #269CE9;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}

.button:hover {
    background-color: #70B9E8;
}

.button:active {
    background: #269CE9;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40px;
    border: 1px solid #dedede;
    font-size: 16px;
}


/*.wrapper > div {*/
/*    background: #eeeeee;*/
/*    padding: 1em;*/
/*}*/

/*.wrapper > div:nth-child(odd) {*/
/*    background: #dddddd;*/
/*}*/



